* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
   .Navbar{
     height: 50%;
   }


   .header .Navbar a {
    font-size: 1.7rem;
    color: #666;
    margin: 0 1rem;
  }
  
  .header .Navbar a:hover {
    color: #bac34e;
  }
  .Navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: -webkit-box;
    align-items: center;
    background: rgb(231, 226, 221);
    z-index: 1;
  }
  .Navbar-center {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
  }
  .nav-icon {
    font-size: 1.5rem;
  }